# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Node
node_modules
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tauri
src-tauri/target
src-tauri/gen/schemas

# TypeScript incremental build caches
*.tsbuildinfo
